@import "../../styles/variables.scss";

.category {
    &__item {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        height: 290px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__link {
        margin-bottom: 10px;
        text-decoration: none;
        color: #000;
        font-size: 14px;
        font-weight: 300;
        display: flex;
        align-items: center;
        transition: .6s ease;
        svg {
            margin-left: 5px;
            path {
                transition: .6s ease;
            }            
        }
        &:hover {
            color: $main-color;
            svg path {
                stroke: $main-color; /* Здесь можно выбрать любой цвет */
            }
        }
    }
    &__img {
        height: 215px;
        width: 215px;
    }
}